.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    width: 1.4rem;
  }

  & > p {
    margin: 0 0.3rem;
  }

  & > a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
