@import "../../../style/mixins";

.tabs {
  background: rgba(25, 0, 44, 0.7);
  backdrop-filter: blur(0.2rem);
  border-radius: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;

  &__button {
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    color: var(--pale);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3125rem 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    @include hoverTransition;

    &:hover {
      color: #fff;
    }

    &_active {
      background: var(--primary);
      border-radius: 1rem;
      color: #fff;
    }
  }
}
