.sidebar {
  &__ranges {
    margin-top: 1.5rem;
    display: grid;
    grid-template-rows: auto;
    row-gap: 1.2rem;
  }

  &__buttons {
    margin-top: 1.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
      width: 48%;
    }
  }
}
