@import "../../style/mixins";

.collections {
  background-color: var(--bg);
  box-shadow: 0px 0.625rem 0.9375rem var(--dark);
  border-radius: 1rem;
  height: fit-content;
  max-height: 90vh;
  overflow: hidden;

  &__header {
    @include collectionTableGrid;
    padding: 1rem;
    border-bottom: 0.0625rem solid #4a4365;

    & h2 {
      font-weight: 500;
      font-size: 0.8125rem;
      line-height: 1.375rem;
      color: var(--pale);
      text-transform: uppercase;
      cursor: pointer;
      position: relative;

      &:hover {
        color: #fff;
      }
    }
  }
}
