@import "../../style/mixins";

.collectionTableItem {
  @include collectionTableGrid;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 0.0625rem solid var(--dark);
  @include hoverTransition;

  &:hover {
    background-color: var(--dark);
  }

  & p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    display: flex;
    align-items: center;
  }

  & a {
    margin-left: 0.375rem;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__itemName {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__itemImage {
    width: 2.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }

  &__textSize {
    justify-content: flex-end;
  }

  &__textDaily {
    color: var(--success);

    &_down {
      color: var(--accent);
    }
  }
}
