:root {
  --primary: #8330c2;
  --secondary: #3adfcb;
  --accent: #d00683;
  --dark: #1a132e;
  --pale: #9992b9;
  --bg: #2a2642;
  --gradient: linear-gradient(90deg, #3adfcb 0.67%, #219cfb 38.7%, #861af0 69.88%, #d00683 98.61%);
  --success: #00b6a0;
}
