:root {
  --primary: #8330c2;
  --accent: #d00683;
  --dark: #1a132e;
  --pale: #9992b9;
  --bg: #2a2642;
  --success: #00b6a0;
  --links: #ba65fb;
  --border: #4a4365;
  --gradient: linear-gradient(90deg, #3adfcb 0%, #219cfb 38%, #861af0 70%, #d00683 100%);
}
