:root {
  --primary: #8330c2;
  --secondary: #3adfcb;
  --accent: #d00683;
  --dark: #1a132e;
  --pale: #9992b9;
  --bg: #2a2642;
  --gradient: linear-gradient(270deg, #c20a98 0%, #7531f2 100%);
  --success: #00b6a0;
}
