.favItem {
  background: var(--bg);
  border: 0.0625rem solid var(--border);
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 1rem;
  position: relative;

  & .heart {
    position: absolute;
    right: 0.5rem;
    bottom: 11rem;
  }

  & > h4 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 0 1rem;
  }

  & p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    display: flex;
    align-items: center;

    & .gain {
      margin-left: 0.3125rem;
    }
  }

  &__stats {
    margin-top: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;

    &_bottom {
      padding: 0 0.875rem 0 0.6875rem;
    }

    & .btn {
      width: 12.1875rem;
      margin-right: 1rem;
    }
  }

  &__socialIcon {
    position: relative;
    width: 3.5rem;
    display: flex;
    align-items: center;

    & > img {
      max-width: 1.5rem;
    }

    & > span {
      position: absolute;
      top: -0.8rem;
      left: 0.7rem;
      min-width: 2rem;
      background: var(--accent);
      border-radius: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.2rem;
    }
  }
}
