@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");
@import-normalize;

@import "rc-slider/assets/index.css";

@import "./style/reset.scss";
// @import "./style/normalize.css";
@import "./style/variables.scss";
@import "./style/general.scss";
@import "./style/mixins";

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--bg);
  margin: 0.8rem 0;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2px;
}

html {
  font-size: 1vw;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  background-color: #1a132e;
  color: #fff;
}
