@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

@import "rc-slider/assets/index.css";

@import "./style/reset.scss";
@import "./style/normalize.css";
@import "./style/variables.scss";
@import "./style/mixins";

html {
  font-size: 1vw;

  @media (min-width: 1440px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  background-color: #1a132e;
  color: #fff;
}

.container {
  max-width: min(100%, 1440px);
  margin: 0 auto;
  padding: 0 2.5rem;
}

.tableLayout {
  display: grid;
  grid-template-columns: 14rem 1fr;
  column-gap: 4rem;
  margin-top: 2rem;
}

.etherIcon {
  width: 1.3rem;
  margin: 0 0.25rem;
}
