.gain {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  display: flex;
  align-items: center;
  color: #fff;

  & img {
    width: 1rem;
  }

  &_positive {
    color: var(--success);
  }

  &_negative {
    color: var(--accent);
  }
}
